.cartContainer {
  display: grid;
  justify-items: stretch;
  padding: 4rem 2rem;
}
.cartContainer > h2 {
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 2rem;
}
.cartLabels {
  display: grid;
  justify-self: stretch;
  justify-items: center;
  grid-template-columns: 3fr 2fr 1fr 1fr 1fr;
  font-size: 1.1rem;
  font-weight: bold;
  padding-bottom: 0.5rem;
  border-bottom: 1px solid rgb(203, 203, 203);
  margin-bottom: 1rem;
}
.cartItems {
  display: grid;
  gap: 1rem;
  margin-bottom: 2rem;
}
.checkoutInfo {
  font-size: 1.1rem;
  font-style: italic;
  margin-right: 2rem;
  display: grid;
  gap: 1rem;
  justify-self: end;
  justify-items: end;
}
.total {
  font-weight: bold;
}
.checkoutButton {
  margin-top: 0.5rem;
  height: 2.5rem;
  width: 10rem;
  background-color: var(--steel-blue);
  border: none;
  font-size: 1rem;
  font-weight: bold;
  color: white;
  border-radius: 0.5rem;
  transition: border-left 0.2s linear;
}
/* interactions */
.checkoutButton:hover {
  border-left: 0.6rem solid var(--saffron);
  cursor: pointer;
}

/* cart empty */
.cartEmpty {
  padding: 1rem;
  font-style: italic;
  background-color: var(--seasalt-x-dark);
}

/* PRODUCT-LOADING */
.cartLoading {
  height: 277px;
  width: 100%;
  background-color: var(--seasalt-x-dark);
  border-radius: 0.5rem;
}
.skeleton {
  composes: cartLoading;
  animation: skeleton-loading 1s linear infinite alternate;
}
@keyframes skeleton-loading {
  0% {
    background-color: var(--seasalt-x-dark);
  }
  100% {
    background-color: rgb(185, 185, 185);
  }
}

/* ERROR */
.error {
  composes: cartLoading;
  height: auto;
  display: grid;
  color: var(--fire-engine-red);
}
.error > div {
  display: grid;
  padding: 1rem;
  gap: 1rem;
}
.error h3 {
  font-weight: bold;
}
.error p {
  max-width: 25rem;
}
