:root {
  box-sizing: border-box;

  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* colour-theme */
  --saffron: #eec643ff;
  --seasalt: #f8f7f9ff;
  --seasalt-dark: rgb(240, 240, 240);
  --seasalt-x-dark: rgb(230, 230, 230);
  --space-cadet: #2b2d42ff;
  --steel-blue: #2d7dd2ff;
  --fire-engine-red: #c1292eff;

  background-color: var(--seasalt);
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
body {
  min-height: 100vh;
}
/* for debugging */
* {
  /* outline: 1px solid grey; */
}
